* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}


/* -----   ESTRUTURA ------ */

section.cover-page {
    width: 100%;
    padding: 50px 430px;
    background-color: hsl(0, 0%, 94%);
}

.calculadora {
    width: 100%;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 20px 150px 20px;
    box-shadow: 0px 0px 12px -7px;
}

.form-container {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    background-color: white;
}



p {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 0.5rem;
    color: hsl(0, 1%, 52%);
}



/* -----   INPUTS ------ */

.form-container {
    display: flex;
    justify-content: space-between;
}


.form-container form input {
    width: 50%;
    border: 1px solid #ccc;
    height: 55px;
    border-radius: 10px;

}

.form-dados {
    display: inline-block;
    border-radius: 20px;
    
}

.form-dados input {
    text-align: center;
}


/* -----   BOTÃO ------ */

.form-botao {
    display: inline-block;
    padding-top: 40px;
    width: 300px;
    cursor: pointer;
}


.form-container input[type=submit] {
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
}

.form-container input[type=submit]:hover {
    background-color: #c0c4f2;
    cursor: pointer;
}


/* -----   RESULTADO DA CONTA ------ */

.resultado {
    margin-bottom: 0;
    background-color: white;
    border-radius: 20px 20px 150px 20px;
}

.resultado h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
}

.resultado span {
    color: hsl(259, 100%, 65%);
}



/* -----   ESTILO DAS MENSAGENS DE ERRO ------ */

.erro {
    width: 100%;
    height: 100%;
    display: block;
    color: red;
    font-size: 10px;
    font-weight: 700;
    padding-top: 10px;
    font-style: italic;
}





/* -----   RESPONSIVO ------ */

@media screen and (max-width:1400px) {

    section.cover-page {

        padding: 50px 300px;
    }
}

@media screen and (max-width:1172px) {

    section.cover-page {

        padding: 50px 200px;
    }
}

@media screen and (max-width:980px) {

    section.cover-page {
        padding: 50px 100px;
    }

}



@media screen and (max-width:723px) {

    section.cover-page {
        padding: 40px 40px;
    }

    .calculadora {
        padding: 5px;
    }



    .resultado h1 {
        font-size: 45px;
    }
}



@media screen and (max-width:594px) {

    section.cover-page {
        padding: 10px 10px;
    }

    form {
        text-align: center;
        display: block;
        padding-left: 30px;
        width: 100%;
    }

    .form-botao {
        width: 100%;
        cursor: pointer;

    }

    .resultado h1 {
        font-size: 28px;
    }

    .form-dados span .erro {
        font-size: .5rem;
        margin-top: .2rem;
        width: 100%;
    }
}